<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}compiled/css/base.css">
        <title>Back2Back</title>
    </head>
    <body>
        <div class="container">
            <h1><a href="{% url 'index' %}">Back2Back</a></h1>
            {% block nav %}
            <nav>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th rowspan="2">Manage Entries</th>
                            <th colspan="4">First round</th>
                            <th colspan="4">Second round</th>
                            <th colspan="4">Third round</th>
                            <th colspan="1">Finals</th>
                        </tr>
                        <tr>
                            <th>Groups</th>
                            <th>Matches</th>
                            <th>Leaderboard</th>
                            <th>Scoresheets</th>
                            <th>Groups</th>
                            <th>Matches</th>
                            <th>Leaderboard</th>
                            <th>Scoresheets</th>
                            <th>Groups</th>
                            <th>Matches</th>
                            <th>Leaderboard</th>
                            <th>Scoresheets</th>
                            <th>Set seeds</th>
                        </tr>
                    </thead>
                    {% for category in CATEGORIES %}
                        <tr>
                            <td><a href="{% url 'entry-list' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'first-round-set-groups' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'first-round-matches' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'first-round-leaderboard' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'first-round-scoresheets' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'second-round-set-groups' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'second-round-matches' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'second-round-leaderboard' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'second-round-scoresheets' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'third-round-set-groups' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'third-round-matches' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'third-round-leaderboard' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'third-round-scoresheets' category=category.slug %}">{{ category }}</a></td>
                            <td><a href="{% url 'finals-set-seeds' category=category.slug %}">{{ category }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </nav>
            {% endblock %}
            <h2>{% block heading %}{% endblock %}</h2>
            {% block content %}{% endblock %}
        </div>
        {% block extra_script %}{% endblock %}
    </body>
</html>

