{% extends 'base.html' %}

{% load static %}

{% block content %}
<h3>Finals scores</h3>
{% for category in finalists %}
<div class="col-sm-6">
    <table class="table table-bordered table-matches">
        <caption>{{ category.category }}</caption>
        {% for end in category.shootdown %}
        <tr>
            <td rowspan="2"><strong>{{ end.label }}</strong></td>
            {% for archer in end.archers %}
            <td>{{ archer.archer }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for archer in end.archers %}
            <td>
                <form class="form-inline" method="POST" action="{% url 'finals-shootdown-record' category=category.category.slug archer=archer.archer.pk end=end.number %}">
                    {% csrf_token %}
                    <input name="score" type="number" class="form-control form-control-sm" value="{{ archer.score }}" />
                    <input type="submit" value="Save" class="btn btn-sm btn-success" />
                </form>
            </td>
            {% endfor %}
        </tr>
        {% empty %}
        <div class="col-sm-6"><p>Matches to be confirmed.</p></div>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/matchForms.js' %}"></script>
{% endblock %}
