{% extends 'base.html' %}

{% block content %}
<h3>Finals scores</h3>
{% for category in finalists %}
<div class="col-sm-6">
    <table class="table table-bordered">
        <caption>{{ category.category }}</caption>
        {% for match in category.matches %}
        <tr>
            <td>{{ match.archer_1 }}</td>
            <td>
                {% if match.form %}
                <form action="{% url 'finals-match-record' category=category.category.slug match=match.index %}" method="POST" class="form-inline inline" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="{{ match.form.archer_1.auto_id }}" name="{{ match.form.archer_1.name }}" value="{{ match.form.archer_1.value }}" type="number" class="form-control input-sm">
                    </div>
                    V
                    <div class="form-group">
                        <input id="{{ match.form.archer_2.auto_id }}" name="{{ match.form.archer_2.name }}" value="{{ match.form.archer_2.value }}" type="number" class="form-control input-sm">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-sm btn-success">
                    </div>
                </form>
                {% endif %}
            </td>
            <td>{{ match.archer_2 }}</td>
        </tr>
        {% empty %}
        <div class="col-sm-6"><p>Matches to be confirmed.</p></div>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
