{% extends 'base.html' %}

{% block heading %}Set first round groups for {{ category }}{% endblock %}

{% block content %}
<div class="row">
    {% for group in groups %}
    <div class="col-sm-4">
        <table class="table">
            <caption>{{ group }}</caption>
            {% for entry in group.entries %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>
                    <form method="POST" action="{% url 'first-round-group-remove' category=category.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="entry" value="{{ entry.pk }}">
                        <input type="submit" class="btn btn-xs btn-danger" value="Remove">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>

<h4>Entries not in a group</h4>
<table class="table">
    {% for entry in unprocessed %}
    <tr>
        <td>{{ entry.name }}</td>
        <td>Add to:
            {% for group in groups %}
            <form method="POST" action="{% url 'first-round-group-add' category=category.slug %}">
                {% csrf_token %}
                <input type="hidden" name="entry" value="{{ entry.pk }}">
                <input type="hidden" name="group" value="{{ group.number }}">
                <input type="submit" value="{{ group }}">
            </form>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
