{% extends 'base.html' %}

{% block content %}
<nav>
    <ul>
        <li>
            Manage Entries
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'entry-list' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
            </li>
        <li>
            Set up first round groups
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'first-round-set-groups' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            First round matches
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'first-round-matches' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            First round leaderboard
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'first-round-leaderboard' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            Set up second round groups
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'second-round-set-groups' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            Second round matches
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'second-round-matches' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            Second round leaderboard
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'second-round-leaderboard' category=category.slug %}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}
