{% extends 'base.html' %}

{% block content %}
<h3>Display Leaderboards</h3>
<a href="{% url 'first-round-leaderboard-export-compound' %}">First round (Compound)</a><br>
<a href="{% url 'first-round-leaderboard-export-recurve' %}">First round (Recurve)</a>
<br>
<a href="{% url 'second-round-leaderboard-export-compound' %}">Second round (Compound)</a>
<a href="{% url 'second-round-leaderboard-export-recurve' %}">Second round (Recurve)</a>
<h3>Finals</h3>
<a href="{% url 'finals' %}">Scores</a>
<br>
<a href="{% url 'finals-scoresheets' %}">Scoresheets</a>
<h3>Full Results</h3>
<a href="{% url 'results-pdf' %}">Results</a>
{% endblock %}
