{% extends 'base.html' %}

{% load static %}

{% block nav %}{% endblock %}

{% block heading %}Leaderboard <small class="pull-right">Live scores at <a href="https://back2back.mjtamlyn.co.uk">https://back2back.mjtamlyn.co.uk</a></small>{% endblock %}

{% block content %}
<div class="scrolling-container">
    <div class="scrolling">
        {% for category in leaderboards %}
        <h3>{{ category.category }}</h3>
        <div class="flex three-col">
            {% for group in category.groups %}
                <table class="table">
                    <caption>{{ group }}</caption>
                    {% for entry in group.leaderboard %}
                    <tr>
                        <td>{{ entry.qualified }}</td>
                        <td>{{ entry }}</td>
                        {% if round == 'First' %}
                            <td>{{ entry.first_group_points }}</td>
                            <td>{{ entry.first_group_score }}</td>
                        {% elif round == 'Second' %}
                            <td>{{ entry.second_group_points }}</td>
                            <td>{{ entry.second_group_score }}</td>
                        {% elif round == 'Third' %}
                            <td>{{ entry.third_group_points }}</td>
                            <td>{{ entry.third_group_score }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
        <div>
            <img style="max-width: 100%" src="{% static 'img/banner_2016.png' %}">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block after_content %}{% endblock %}
