{% extends 'base.html' %}

{% block nav %}
    <h1><a href="{% url 'public-index' %}">Back2Back 2017</a></h1>
    <nav>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>First round</th>
                    <th>Second round</th>
                    <th>Finals</th>
                </tr>
            </thead>
            {% for category in CATEGORIES %}
                <tr>
                    <td><a href="{% url 'public-first-round' category=category.slug %}">{{ category }}</a></td>
                    <td><a href="{% url 'public-second-round' category=category.slug %}">{{ category }}</a></td>
                    <td><a href="{% url 'public-finals' category=category.slug %}">{{ category }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </nav>
{% endblock %}
