{% extends 'public_index.html' %}

{% block heading %}Finals for {{ category }}{% endblock %}

{% block content %}
<div class="row">
    <table class="table table-bordered">
        <caption>{{ category }}</caption>
        {% for end in shootdown %}
        <tr>
            <td rowspan="2"><strong>{{ end.label }}</strong></td>
            {% for archer in end.archers %}
            <td>{{ archer.archer }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for archer in end.archers %}
            <td>{{ archer.score|default:'' }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        <div class="col-sm-6"><p>Matches to be confirmed.</p></div>
        {% endfor %}
    </table>
</div>
{% endblock %}

