{% extends 'base.html' %}

{% block heading %}Confirm second round groups for {{ category }}{% endblock %}

{% block content %}
<div class="row">
{% for group in groups %}
    <div class="col-sm-4">
        <table class="table">
            <caption>{{ group }}</caption>
            {% for entry in group.entries %}
            <tr>
                <td>{{ entry.qualified }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.first_group_points }}</td>
                <td>{{ entry.first_group_score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Confirm" class="btn btn-large btn-success">
</form>
{% endblock %}
