{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block content %}
<h1>Log in as athlete</h1>
<div class="row">
    <div class="col-sm-6">
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
                <small class="form-text text-muted">Surname and first initial of forename, no spaces - eg EllisonB. No hyphens or apostrophes.</small>
            </div>
            <div class="form-group">
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <input type="submit" class="btn btn-success" value="Log in" />
        </form>
    </div>
</div>
{% endblock %}
